html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.block{
    color: white;
    background-color: black;
    padding: 5%;
}

.block-1{
    background-color: #324376;
}
.full-page{
    height: 100vh;
}
.carousel-placeholder{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    background-size: cover;
}
.carousel-placeholder-1{
    background-color: #f76c5e;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(./images/fullwidth/coding.jpeg);
    background-repeat: round;
}
.carousel-placeholder-2{ 
    background-color: #324376;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url(./images/fullwidth/laptop.jpg);
    background-repeat: round;
}
.carousel-placeholder-3{
    background-color: #586ba4;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url(./images/fullwidth/man.jpeg);
    background-repeat: round;
}
.carousel-item{
    height: 100vh;
}
#featured-products-carousel{
    width: 100%;
    margin: 0 auto;
}
.block-1{
    background-color: #324376;
}
.block-2{
    background-color: #586ba4;
}
@media only screen  and (min-width:700px)
{
    .block-2{
        display:flex;
        flex-direction: row;
    }
    .first-order-responsive{
        order: 1;
        
    }
    .second-order-responsive{
        order: 2;
        
    }
    .carousel-placeholder-1{
        /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(./images/Winter-tea.jpeg); */
        background-repeat: round;
    }

}